body{
    margin: 0;
}
.menu div div ul{
    list-style: none;
    margin-top: 20px;
}
.menu div div ul li{
   display: inline-grid;
   padding-left: 70px;
}
.anatiny {
    position: absolute;
    display: none;
    width: 60px;
    
}
.anatiny li{
    display: flex !important;
    padding-top: 5px;
    margin-left: -109px;
    display: none;
}
.menu div div ul li:hover{
    cursor: pointer;
    .anatiny{
        display: block;
        background: black;
        color: white;
    }
}
